* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.2)
    url(https://images.unsplash.com/photo-1555231955-348aa2312e19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-blend-mode: darken;
  background-size: cover;
  color: #fff;
}

.astr {
  color: red;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70%;
  max-width: 500px;
  margin: auto;
}

.form-wrapper {
  padding: 4rem 2rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#name {
  margin-bottom: 2rem;
}
#name input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  outline: none;
}
