* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.2)
    url(https://images.unsplash.com/photo-1555231955-348aa2312e19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-blend-mode: darken;
  background-size: cover;
  color: #fff;
}

.astr {
  color: red;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 500px;
  margin: 2rem auto;
}

.form-wrapper {
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-label {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

input {
  margin: 10px;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background: rgba(255, 255, 255, 0.205);
  color: #fff;
  font-weight: bold;
}
#name input {
}
